.nav2 ul {
	margin:0;
	padding:0;
	list-style: none;
}
.nav2 ul li {
	float: up;
	position: relative;
	font-family:sans-serif; 
	padding: 20px;
	width: 140px;
	height: 35px;
	vertical-align: middle;
	cursor: pointer;
	border-top: 1px solid #BDC3C7;
	border-right: 5px solid #F1C40F;
	left: 15px;

	background-color: black;
	opacity: .8; 
	line-height: 20px;
	text-align: center;
	-webkit-transition: all;
	transition: all;
	/*font-size: 10px;*/
}

.nav2 ul li a {
	text-decoration: none;
	color: white;
	display: block;
}

.nav2 ul li a:hover {
	background: #ffc107;
	color: #000;
}